.contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color:#F6F6F6!important;
    border-radius: 8px;
    margin-top: 2em;
  }
  
  .form-container {
    flex: 1;
    max-width: 500px;
    background-color: white ;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding-top: 4em;


  }
  
  .form-container h5 {
    margin-top: 0;
    color: black;
       text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 1em;
  }
  
  label {
    font-weight: bold;
    color: black;
  }
  
  input,
  textarea {
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 10px;
    font-size: 16px;
  }
  
  input:focus,
  textarea:focus {
    outline: none;
    border-bottom-color: black;
  }
  
  button[type="submit"] {
    background-color: navy;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-top: -0.5em;
  }
  
  .info-container {
    flex: 1;
    max-width: 400px;
    background-color: white !important;
    border-radius: 8px !important;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2) !important;
    text-align: center !;
   
  }
  
  .info-container h5 {
    margin-top: 0;
    color: rgb(197, 2, 2)!important;
    text-align: center;
  }
  
  .icon-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    padding-left: 1.8em;
  }
  
  .icon {
    font-size: 16px;
    color: navy;
  }
  a{
    text-decoration: none !important;
    color: black !important;
  }


  @media (max-width: 960px) {
    .label{
        padding-top: 0.5em;
    }
  }