.contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
  }
  
  .form-container {
    flex: 1;
    max-width: 500px;
  }
  
  .form-container h2 {
    margin-top: 0;
    color: rgb(197, 2, 2);
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  label {
    font-weight: bold;
    color: rgb(197, 2, 2);
  }
  
  input,
  textarea {
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 10px;
    font-size: 16px;
  }
  
  input:focus,
  textarea:focus {
    outline: none;
    border-bottom-color: black;
  }
  
  button[type="submit"] {
    background-color: rgb(197, 2, 2);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .info-container {
    flex: 1;
    max-width: 400px;
  }
  
  .info-container h2 {
    margin-top: 0;
    color: rgb(197, 2, 2)!important;
  }
  
  .icon-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  .icon {
    font-size: 24px;
  }
  a{
    text-decoration: none !important;
    color: black !important;
  }