.me{
    padding: 5em 2em 1em 10em;
    color: black;
    font-family: 'Clash Grotesk', sans-serif;

}
.details{
    padding-left: 10em;
    color: black;
    font-family: 'Archivo', sans-serif;
    font-weight: 600;
    /* text-align: justify; */
}
.laptop{
    width:13em;
    height: 16em;
    margin-top: -8em;
    margin-left: 0.3em;
    background-color:#FFFFFF !important;
    border: 3px solid white;
    /* border-radius: 10px !important; */
    border-bottom-left-radius: 50% !important;
    border-top: 8px solid  #FF6464;
    border-right:8px solid  #FF6464;
    ;
    
}
.image{
    display: flex;
    flex-direction: row;
    gap: 4px
}
.hireproject{
    padding-top: 1em;
    padding-right: 4em;
}
body{
    background-color:navy;
}

@media (max-width: 960px) {
    .me{
        padding: 5em 1em 1em 3em;
        order: 1 !important;
        text-align: center;
    }
    
    .details{
    padding-left: 3em;
        /* text-align: justify; */
        padding-right: 3em;
        order: 2 !important;
        text-align: center;
    }
    .image{
        display: flex;
        flex-direction: column;
        gap: 4px;

        
    }
    .laptop{
        margin-top: 1em;
        margin-left: 6em;
        width:15em;
        height: 18em;
        order: 1;
        
        }
        .hireproject{
            padding-top: 2.5em;
            padding-right: 2em;
        }
  }