.me{
    padding: 5em 2em 1em 3em;
    color: rgb(197, 2, 2);
}
.details{
    padding-left: 3em;
    color: white;
    /* text-align: justify; */
}
.laptop{
    width:22em;
    height: 22em;
    margin-top: -7em;
    margin-left: auto;
    background-color: black !important;
    
}
.image{
    display: flex;
    flex-direction: row;
    gap: 4px
}
.hireproject{
    padding-top: 1em;
    padding-right: 4em;
}
body{
    background-color: black;
}

@media (max-width: 960px) {
    .me{
        padding: 5em 2em 1em 1em;
    }
    
    .details{
    padding-left: 1em;
        /* text-align: justify; */
        padding-right: 3em;
    }
    .image{
        display: flex;
        flex-direction: column;
        gap: 4px
    
    }
    .laptop{
        margin-top: -1em;
        margin-left: 0.2em;
        width:18em;
        height: 16em;
        }
        .hireproject{
            padding-top: 2.5em;
            padding-right: 2em;
        }
  }